<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/loading.css">
    </head>
    <body>
        <div class="main-container">

            <div class="header-container">
               <div class="header-brand-nav">
                    <div class="brand">
                        <img src="../images/slide1/logo.png" alt="">
                    </div>
                    <div class="nav">
                        <ul class="nav-links">
                            <li>home</li>
                            <li>about</li>
                            <li>projects</li>
                            <li>request a project</li>
                            <li>contact</li>
                        </ul>
                    </div>
               </div>

               <div class="header-content">
                    <div class="header-lettering">
                        <img src="../images/slide1/slide1-lettering.png" class="lettering-img" alt="">
                        <img src="../images/slide1/slide1-half-circle.png" class="circle-img" alt="">
                    </div>
                    <div class="header-text">
                        <h1>enjoy my&nbsp;<span>vision!</span></h1>
                    </div>
                </div>

               <div class="header-face">
                   <img src="../images/slide1/head.png" alt="">
               </div>

            </div>

            <div class="about-container">
                <div class="about-header"> 
                    <img src="../images/slide2/page2-logo.png" alt="">
                    <h1>who am i</h1>
                </div>
                <div class="about-text">
                    <h2>
                        I am a young graphic designer,
                        Born and raised in Bulgaria in a familiy of artists.
                        My passion in creating beatiful stuff is 
                        limiteless and it’s 
                        deffinately what i want to 
                        devote my life to.
                    </h2>
                </div>

                <div class="about-buttons">
                    <a href="#" class="read-more btn">read more</a>
                    <a href="#" class="contact btn">contact</a>
                </div>
            </div>

            <div class="skills-container">
                
                <div class="skills-wrapper">
                    <div class="skills-title">
                        <img src="../images/slide3/slide3-lettering.svg" alt="">
                    </div>
                    
                    <div class="skills">
                        <ul class="skills-items-list">
                            <li class="skills-item">
                                <img src="../images/slide3/slide3-photoshop-icon.png" alt="">
                                <div class="loader"></div>
                                <span>80%</span>
                            </li>
                           
                             <li class="skills-item">
                                <img src="../images/slide3/slide3-illustrator-icon.png" alt="">
                                <div class="loader"></div>
                                <span>95%</span>
                            </li>

                            <li class="skills-item">
                                <img src="../images/slide3/slide3-sketch-icon.png" alt="">
                                <div class="loader"></div>
                                <span>85%</span>
                            </li>

                            <li class="skills-item">
                                <img src="../images/slide3/slide3-corel-icon.png" alt="">
                                <div class="loader"></div>
                                <span>40%</span>
                            </li>

                            <li class="skills-item">
                                <img src="../images/slide3/sllide3-3ds-icon.png" alt="">
                                <div class="loader"></div>
                                <span>30%</span>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>

            <div class="projects-container">
                <div class="projects-wrapper">
                    <div class="skills-project-img">
                        <img src="../images/slide3/slide3-projects.png" alt="">
                        <span>projects</span>
                    </div>
                    <div class="column-left column">
                        <ul class="projects-item-list">
                            <li class="project-item">
                                <div class="item-container">
                                    <div class="item-image">
                                        <img src="../images/slide4/slide4-phones.png" alt="">
                                    </div>
                                    <div class="item-details effect6">
                                        <h1 class="item-title">Svn.Eight Design</h1>
                                        <h4 class="item-category-title">Web Design</h4>
                                        <div class="item-description">
                                            <p class="description">
                                                Personal logo design.
                                            </p>
                                            <a href="#">
                                                <span>></span>
                                                details
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="project-item">
                                <div class="item-container">
                                    <div class="item-image">
                                        <img src="../images/slide4/gg.png" alt="">
                                    </div>
                                    <div class="item-details effect6">
                                        <h1 class="item-title">Svn.Eight Design</h1>
                                        <h4 class="item-category-title">Web Design</h4>
                                        <div class="item-description">
                                            <p class="description">
                                                Personal logo design.
                                            </p>
                                            <a href="#">
                                                <span>></span>
                                                details
                                            </a>
                                        </div>
                                        <div class="projects-end-img">
                                            <img src="../images/slide4/Group.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="column-right column">
                        <ul class="projects-item-list">
                            <li class="project-item">
                                <div class="item-container">
                                    <div class="item-image">
                                        <img src="../images/slide4/slide4-img-2.png" alt="">
                                    </div>
                                    <div class="item-details effect6">
                                        <h1 class="item-title">Svn.Eight Design</h1>
                                        <h4 class="item-category-title">Web Design</h4>
                                        <div class="item-description">
                                            <p class="description">
                                                Personal logo design.
                                            </p>
                                            <a href="#">
                                                <span>></span>
                                                details
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="project-item">
                                <div class="item-container">
                                    <div class="item-image">
                                        <img src="../images/slide4/Bitmap.png" alt="">
                                    </div>
                                    <div class="item-details effect6">
                                        <h1 class="item-title">Svn.Eight Design</h1>
                                        <h4 class="item-category-title">Web Design</h4>
                                        <div class="item-description">
                                            <p class="description">
                                                Personal logo design.
                                            </p>
                                            <a href="#">
                                                <span>></span>
                                                details
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- <a href="#" class="find-more">Find more</a> -->
                </div>
            </div>
            
            <div class="clear-container">
                <div class="clear-content">
                    <a href="#" class="go-to-portfolio">go to portfolio</a>
                </div>
            </div>

            <div class="tech-skills-container">
                <img src="../images/slide5/Semi_Circle.png" class="tech-skills-semi-circle" alt="">
                <div class="tech-skills-content">
                    <div class="header-img">
                            <img src="../images/slide5/header_img.svg" class="tech-skills-text-img" alt="">
                    </div>
                    <div class="tech-skills">
                        <div class="branding-container skill-container">
                            <div class="skill-content">
                                <img src="../images/slide5/icon1.png" alt="" class="__image">
                                <h1 class="__title">Design a branding</h1>
                            </div>
                        </div>
                        <div class="graphic-design-container skill-container">
                            <div class="skill-content">
                                <img src="../images/slide5/icon4.png" alt="" class="__image">
                                <h1 class="__title">Web design</h1>
                            </div>
                        </div>
                        <div class="web-design-container skill-container">
                            <div class="skill-content">
                                <img src="../images/slide5/icon2.png" alt="" class="__image">
                                <h1 class="__title">Graphic Design and Illustrations</h1>
                            </div>
                        </div>
                        <div class="print-design-container skill-container">
                            <div class="skill-content">
                                <img src="../images/slide5/icon3.png" alt="" class="__image">
                                <h1 class="__title">Print Design</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contacts-container">
                contacts
            </div>

        </div>
    </body>
</html>
